@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.logoText {
  @apply text-slate-200;
  font-style: normal;
  font-weight: 100;
  font-size: 34px;
  line-height: 1;
  font-family: Montserrat;
  font-variant-ligatures: none;
  text-align: center;
  text-anchor: middle;
}